/* Basic styles */

body {
  padding: 0;
  margin: 0;
}

.milkdown {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background: var(--sn-stylekit-editor-background-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  color: var(--sn-stylekit-editor-foreground-color);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.milkdown .editor {
  outline: none;
}

/* Override styles for basic HTML elements */

.milkdown img {
  width: unset !important;
  height: unset !important;
  max-width: 100%;
}

.milkdown blockquote {
  border-left: 0.3rem solid var(--sn-stylekit-neutral-color) !important;
  color: var(--sn-stylekit-neutral-color) !important;
}

.milkdown pre,
.milkdown code {
  font-family: var(--sn-stylekit-monospace-font);
}

.milkdown table {
  border-collapse: collapse;
}

.milkdown td,
th {
  border: var(--sn-stylekit-secondary-border-color) 1px solid;
}

.milkdown tr:nth-child(odd) {
  background: var(--sn-stylekit-secondary-background-color);
}

.milkdown tr:nth-child(even) {
  background: var(--sn-stylekit-secondary-contrast-background-color);
}

/* Override styles for Milkdown components */

.milkdown .link {
  color: var(--sn-stylekit-info-color);
}

.milkdown .slash-dropdown,
.milkdown .tooltip,
.milkdown .code-inline,
.milkdown .code-fence {
  background: var(--sn-stylekit-contrast-background-color) !important;
  border: 1px solid var(--sn-stylekit-border-color) !important;
  border-radius: var(--sn-stylekit-general-border-radius) !important;
}

.milkdown .code-fence_select,
.milkdown .code-fence_value {
  border: 1px solid var(--sn-stylekit-border-color) !important;
  border-radius: var(--sn-stylekit-general-border-radius) !important;
  background: var(--sn-stylekit-editor-background-color) !important;
}
