body {
  padding: 0;
  margin: 0;
}

.milkdown {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: var(--sn-stylekit-editor-background-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  color: var(--sn-stylekit-editor-foreground-color);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.milkdown .editor {
  outline: none;
}
